Repository dotnet/dotnet-monitor, pull requests merged in 2024-02, with the labels that each got.

#5940 Learning Paths Automation
  .github/actions/action-utils.js
  .github/actions/learning-path-staleness-check/action.yml
  .github/actions/learning-path-staleness-check/index.js
  .github/learning-path-sha.txt
  .github/workflows/check-learning-path-links.yml
  documentation/learningPath/aks.md
  documentation/learningPath/api.md
  documentation/learningPath/collectionrules.md
  documentation/learningPath/configuration.md
  documentation/learningPath/egress.md
  documentation/learningPath/testing.md
Labels: needs-review

#6032 Add `Updated dependencies` to release changelog when no other entries found
  .github/actions/generate-release-notes/index.js
Labels: github_actions

#6072 Fix github-actions commit author
  .github/actions/open-pr/action.yml
Labels: github_actions

#6078 Limit learning path automation to main repo
  .github/workflows/check-learning-path-links.yml
Labels: github_actions

#6079 [release/7.x] Simplify dependabot imports
  eng/Versions.props
  eng/dependabot/Versions.props
Labels: backport

#6073 Automatically create merge PRs for `feature/9.x`
  .github/actions/open-pr/action.yml
  .github/workflows/sync-branches.yml
Labels: github_actions

#6130 Have automated merge commits respect branch-specific files
  .gitattributes
  .github/workflows/sync-branches.yml
Labels: github_actions

#6060 [Parameter Capturing] Add capture limit option
  documentation/api/definitions.md
  documentation/api/parameters.md
  documentation/openapi.json
  src/Microsoft.Diagnostics.Monitoring.HostingStartup/ParameterCapturing/FunctionProbes/FunctionProbesStub.cs
  src/Microsoft.Diagnostics.Monitoring.HostingStartup/ParameterCapturing/FunctionProbes/IFunctionProbes.cs
  src/Microsoft.Diagnostics.Monitoring.HostingStartup/ParameterCapturing/FunctionProbes/LogEmittingProbes.cs
  src/Microsoft.Diagnostics.Monitoring.HostingStartup/ParameterCapturing/Pipeline/CaptureLimitPolicyProbes.cs
  src/Microsoft.Diagnostics.Monitoring.HostingStartup/ParameterCapturing/Pipeline/ParameterCapturingPipeline.cs
  src/Microsoft.Diagnostics.Monitoring.WebApi/Models/CaptureParametersConfiguration.cs
  src/Tests/Microsoft.Diagnostics.Monitoring.HostingStartup.UnitTests/ParameterCapturing/Pipeline/CaptureLimitPolicyProbesTests.cs
  src/Tests/Microsoft.Diagnostics.Monitoring.HostingStartup.UnitTests/ParameterCapturing/Pipeline/ParameterCapturingPipelineTests.cs
  src/Tests/Microsoft.Diagnostics.Monitoring.HostingStartup.UnitTests/ParameterCapturing/Pipeline/TestFunctionProbes.cs
  src/Tests/Microsoft.Diagnostics.Monitoring.UnitTestApp/Scenarios/FunctionProbes/PerFunctionProbeProxy.cs
Labels: experimental-feature, update-release-notes

#6147 Ignore deleted files when check markdown feedback links
  .github/workflows/add-markdown-feedback.yml
Labels: needs-review
